# Python
__pycache__/
*.py[cod]

# Environment
.env
*.env

# Logs and Backups
logs/*
backups/*
!logs/.gitkeep
!backups/.gitkeep
!backups/ios/.gitkeep
!backups/nxos/.gitkeep
!backups/xr/.gitkeep

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
